img{
  position:relative;
  width:165px;
  height:170px;
  border-radius:3px ;
}
.Home{
  padding-bottom:20px; 
  position: relative;
  text-align: center;
  top: 250%;
  color: #ff6923;
}
.Home p{
  position: relative;
  text-align: center;
  font-size:15px;
  font-weight: normal;

}
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Oxygen:300,400,700");
.Home h1{
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  font-size: 40px;
}
*{
  padding: 0;
  margin: 0; 
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  height: 100vh;
  top: 0px;
  left: -250px;
  width: 250px;
  background: black;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background:black;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  background: #ff6923;
  border-radius: 5px;
  cursor: pointer;
}
label #btn{
  left: 9px;
  top: 25px;
  font-size: 30px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
  z-index: 1000;
}
label #cancel{
  z-index: 1000;
  left: -150px;
  top: 17px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 9px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(Untitled-1.jpg) no-repeat;
  margin-top: -25px;
  background-position:center ;
  background-size:cover;
  background-attachment: fixed;
  min-height: 130vh;
  transition: all .5s;
  
}

.resume{
  padding-top: 50px;
  padding-bottom: 30px;
}
.timeline{
  list-style-type: none;
}
.timeline::before{
  content: '';
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 2px;
  height: 100%;
  z-index: 1;
}
.timeline li{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.timeline li h4 {
  background-color: #ff6923;
  padding: 5px 0 5px 20px;
  color: white;
  font-size: 15px
  
}
.timeline li h4 span{
  font-weight: bold;
}

.timeline li::before{
  content: '';
  background: rgb(0, 0, 0);
  display: inline-block;
  position: absolute;
  border-radius: 50px;
  border: 3px solid rgb(10, 10, 10);
  left: 1.5px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.formation{
  padding-top: 50px;
  padding-bottom: 30px;
}


.Competence{
  padding-top: 100px;
  padding-bottom: 50;
  margin-right: 10px;
}
#Competence .row{
  margin-left: 0px;
  margin-right: 0px;
}

.skills-bar p{
  margin-bottom: 4px;
}
.progress{
  border-radius: 5px;
}
.progress-bar{
  border-radius: 9px;
  background: #ff6923 !important;
}
.code{
  height: 200px;
  width: 200px;
}
.aboutph{
  height: 300px;
  width: 300px;
  margin-left: 50px ;

}
.About{
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 5px;
  margin-right: 15px;
  color: #ff6923;
}
.About p{
  color: #000000;

}
.section-contact address strong {
  font-size : 13px;
  text-transform : uppercase;
  color: wheat;
}
.form-group {
  font-weight : normal;
  font-size   : 13px;
}
  
div .form-control {
  height : 46px;
  line-height: 46px;
  max-width: 700px;
  min-width: 400px;
  padding: 0 15px;
  position: relative;
}

input[type="submit"]{
  width: auto;
  background: #ff6923;
  color: white;
  padding: 0px 15px;
  cursor: pointer;
  position: relative;
} 
.feedback-form {
  display: flex;
  justify-content: center;
}
body > section:nth-child(8) {
  margin: 0;
}
.social{
  padding-top: 50px;
  padding-bottom: 30px;

}

.social-container{
  transform: translateY(-50%);
  text-align: center;
}

.button{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.button i{
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}
.button:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.button::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #f86927;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.button:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa{
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }
  100%{
    top: -10%;
    left: -10%;    
  }
}
.end{
  margin-top: auto;
  margin-left: 50px;
}
.CR {
  text-align: center;
  color: #000000;
}











